body {
    width: 90%;
    background: ivory;
    color: maroon;
}

table {
    width: 60%;
    border-collapse: collapse;
    background: beige;
}

table, th, td {
    border: 1px solid bisque;
}

th {
    background: burlywood;
    color: maroon;
}

.number {
    text-align: right;
    padding-right: 3px;
}

.text {
    text-align: left;
    padding-left: 3px;
}


